body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  font-family: sans-serif;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.placa {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.poço {
  position: absolute;
  width: 38px;
  height: 38px;
  background-color: transparent;
  border: 2px solid #0097b2;
  border-radius: 6px;
  color: white;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  user-select: none;
  cursor: pointer;
  z-index: 2;
}

.poço.marcado {
  background-color: #0097b2;
  color: white;
}

#resetar {
  position: absolute;
  left: 50%;
  bottom: 6%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #0097b2;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  z-index: 3;
  font-weight: bold;
}
