* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  font-family: Arial, sans-serif;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.placa {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.poços-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  display: grid;
  grid-template-columns: repeat(12, 38px);
  grid-template-rows: repeat(8, 38px);
  gap: 2px;
  z-index: 1;
}

/* Estilo dos poços */
.poco {
  width: 38px;
  height: 38px;
  background-color: transparent;
  border: 2px solid #0097b2;
  border-radius: 8px;
  color: white;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  transform: rotate(90deg); /* Corrige o texto */
}

.poco.ativo {
  background-color: #0097b2;
  color: white;
}

/* Botão de reset */
#resetar-btn {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0097b2;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
  font-size: 16px;
  z-index: 2;
  cursor: pointer;
}
